<div class="jumbotron">
  <h1><center>CRUD {{vm.name}} - Copo</center></h1>
  <!-- BUSCAR GARRAFA POR NOME -->
  <center>Buscar Garrafa: <input type="text" ng-model="vm.model.buscanome" maxlength="20"/>
                  <input type="submit" id="busca" ng-click="vm.searchGarrafa()" value="Buscar""/></center>
  <!-- FIM BUSCAR GARRAFA POR NOME -->

   <!-- LISTAR -->
  <div class="row">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Garrafa</th>
          <th scope="col">Quantidade de Copos</th>
        </tr>
      </thead>
      <tbody ng-repeat='garrafa in vm.garrafas'>
        <tr>
          <td><b>{{$index+1}}</b></td>
          <td>{{garrafa.nome}} </td>
          <td>{{garrafa.copos.length}}</td>

          <!-- DELETE -->
          <td><input type="submit" id="delete" ng-click="vm.deleteGarrafa(garrafa.id)" value="Deletar"/></td>
          <!-- FIM DELETE -->

          <!-- UPDATE -->
          <td><input type="submit" name="edit" value="Editar" ng-click="vm.editGarrafa(garrafa)"></td>
          <!-- FIM UPDATE -->

        </tr>   
      </tbody>
    </table>    
  </div>  
 <!-- FIM LISTAR -->

<!-- INSERT -->

  <center><h4>Cadastrar {{vm.name}}</h4>
  <form>
 Nome da garrafa: <input type="text" ng-model="vm.model.nome" name="garrafa" id="garrafa" maxlength="20"/>
  <input type="submit" id="save" ng-click="vm.saveGarrafa()" value="Salvar" /><br>
</form>
 Nome do copo: <input type="text" ng-model="vm.nomeCopo" name="copo" maxlength="20"/>
  <input type="submit" id="save" ng-click="vm.addCopo(vm.nomeCopo)" value="Add""/>
<div ng-repeat='copo in vm.model.copos'>
  <b>Copo {{$index+1}}: {{copo.nome}}</b>
</div>
</center>
<!-- FIM CADASTRAR -->

<!-- UPDATE -->
<h4><center>Editar Garrafa</center></h4>
<div class="row">
           <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Escolha um novo nome para a garrafa: <input type="text" placeholder={{vm.garrafaCopo.nome}} ng-model="vm.editaGarrafa" maxlength="20"/></th>
          <th scope="col"><input type="submit" id="editar" ng-click="vm.editarGarrafa()" value="Atualizar" /></th>
        </tr>
      </thead>
      <tbody ng-repeat='copoEdit in vm.garrafaCopo.copos'>
        <tr>
          <td>{{copoEdit.nome}} </td>
          <td><input type="submit" id="deleteCopo" ng-click="vm.deleteCopo(copoEdit.id)" value="Excluir Copo"/>
          </td>
        </tr>   
      </tbody>
    </table>    
</div>
<!-- FIM UPDATE -->